body { font: 13px sans-serif; }
rect { fill: #fff; }
ul {
  list-style-type: none;
  margin: 0.5em 0em 0.5em 0em;
  width: 100%; }
ul li {
    display: table-cell;
    vertical-align: middle;
    margin: 0em;
    padding: 0em 1em; }
.axis { font-size: 1.5em; }
#chart1 {
  background-color: #FFFFFF;
  width: 400px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px; }
circle, .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px; }
circle {
  fill: white;
  fill-opacity: 0.2;
  cursor: move; }
  circle.selected {
    fill: #666666;
    stroke: #666666; }
  circle:hover {
    fill: #666666;
    stroke: #666666; }
  circle.selected:hover {
    fill: #666666;
    stroke: #666666; }
